/Include/*
/Lib/*
/Scripts/*
/bin/*
/include/*
/lib/*
/share/*
/alpha0.1/*
*SystemDrive*
lib64
pyvenv.cfg
*.pyc
translateFromJson.py
encodeJson.py
/.vscode/*
Photo_Print.code-workspace
source/.idea/*
source/settings/*
source/Настройки/*
source/for_test.py
